@model Instructor
@{ 
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    ViewBag.Title="GetInstructorByDeptId";
} 

<br />
<center>

    <table class="table table-bordered table-hover w-75">

       <partial name="_GetInstructor" />

    </table>

</center>


