@model Student

@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    ViewBag.Title="Student Details";
}
<div class="d-flex justify-content-center">
    <div class="w-25">
        <div class=" d-flex justify-content-center">
         <a asp-controller="student" asp-action="getallstudents" class="btn btn-outline-primary">Back</a>
        </div>
    </div>

    <div class="w-75">
        <!-- Partial view -->
        <partial name="_student_card" model=@Model/>
    </div>
</div>
