
@{ 
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    ViewBag.Title="Home";
}  




 <!-- particles.js container -->
      <div id="particles-js" style="background-color:#80D0C7">

            <div>
                <img src="~/images/landing.svg" alt="students photo" style="width:max-content; height:100%;"/> 
            </div>

      </div>



